:root {
  --primary-color: rgba(238, 75, 43, 0.1);
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --shopee-color: #ff562c;
}

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Responsive */

.grid {
  width: 1200px;
  max-width: 100%;
  /* tu dong can giua */
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  width: 16.6667%;
  padding-left: 12px;
  padding-right: 12px;
}

.grid__column-2-4 {
  width: 20%;
  padding-left: 12px;
  padding-right: 12px;
}

.grid__column-10 {
  width: 83.3334%;
  padding-left: 12px;
  padding-right: 12px;
}
/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: FadeIn linear 1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  position: relative;
  margin: auto;
  /* height: 300px;
  width: 300px; */
  background-color: var(--white-color);
  z-index: 1;
  border-radius: 10px;
  animation: growth linear 1s;
}
/* Animations */
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Button */
.btn {
  min-width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.008);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn.btn--primary {
  background-color: var(--shopee-color);
  color: var(--white-color);
}

/* Select input */
.select-input {
  height: 34px;
  min-width: 200px;
  background-color: #fff;
  padding: 0 12px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  position: relative;
}

/* Pagination CSS */

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination__item {
  margin: 0 12px;
}

.pagination__item--active .pagination__link {
  background-color: var(--shopee-color);
  color: var(--white-color);
  border-radius: 3px;
}

.pagination__item--active .pagination__link:hover {
  background-color: #ed5c3f;
}

.pagination__link {
  display: block;
  --height: 30px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}
